<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="../tests/php/Integration/bootstrap.php"
    colors="true"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutChangesToGlobalState="false"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="integration">
            <directory>../tests/php/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../includes</directory>
        </include>
        <exclude>
            <directory>../dev</directory>
            <directory>../tests</directory>
        </exclude>
    </coverage>
</phpunit>
